{% extends 'butler/index.html' %}
{% load static %} 
{% block container %}

<div class="row" style="min-height: 500px;">   
    <div class="col-12 mt-5" style="overflow-wrap: break-word;">
        <h2>УВАЖАЕМЫЕ ГОСПОДА!</h2> 
        <hr>       
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci mollitia vitae ratione. Culpa, corporis sit aperiam voluptas laudantium, modi libero labore ab blanditiis eligendi porro dignissimos ratione ipsam, possimus eos? </h5>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quae, sunt quis distinctio animi, illo atque dolores natus non voluptates quisquam a. Officia facilis provident magni? Praesentium?</h5>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, optio!</h5>
        <hr> 
        <h2>&nbsp;</h2> 
        <h2>СТОИМОСТЬ УСЛУГ</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Услуга</th>
                <th scope="col">Цена</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
            </tbody>
          </table>
          
          <h2>&nbsp;</h2> 
          
        <h2>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Услуга</th>
                <th scope="col">Цена</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem, ipsum.</td>
              </tr>
            </tbody>
          </table>
        {% include 'butler/ser_btn.html' %}
        
    </div>
</div>
{% endblock %}